body {
        font-family: Arial, sans-serif;
        background-color: #f9ecd9;
        display: flex;
		flex-direction: column;
        justify-content: start;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        padding: 40px;
      }

      form {
        border: 3px solid green;
        background: #fff;
        width: 100%;
        max-width: 1000px;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
      }

      h1 {
        text-align: center;
        margin-bottom: 30px;
      }

      label {
        display: block;
        font-weight: bold;
        color: #444;
        margin-top: 10px;
      }

      input[type="text"],
      input[type="number"],
      input[type="tel"],
      input[type="date"],
	  select,
	  textarea
		{
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-sizing: border-box;
      }

      .name-row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }

      .name-col {
        flex: 1;
        min-width: 250px;
      }
	  
	  .gender-row{
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 15px;
	  }
	  
	  .sub-row{
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 15px;
	  }
      
      .actions {
        text-align: center;
        margin-top: 20px;
      }

      input[type="submit"],
      input[type="reset"] {
        background-color: green;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 6px;
        font-weight: bold;
        cursor: pointer;
        margin: 5px;
      }

      input[type="submit"]:hover,
      input[type="reset"]:hover {
        background-color: #0b7a0b;
      }
	  p {
		  color: red;
	  }
	  
	  table {
				background-color: #ffff;
				width: 100%;
				border: 3px solid green;
				border-collapse: collapse;
				margin-bottom: 20px;
				border-radius: 10px;
			}
			
			th,
			td {
				border: 1px solid green;
			}
			
			th {
				background-color: #D0E7F2;
			}
			
			td{
				padding: 4px;
			}
			
			
			button{
				width:100%;
				font-family: Arial;
				
			}
			
			.delete{
				background-color: red;
			}
			
			.edit{
				background-color: orange;
			}
			
			.show{
				background-color: blue;
			}
			
			a{
				text-decoration: none;
				color: white;
			}

      
      @media (max-width: 600px) {
        form {
          padding: 20px;
        }
      }